.bio-1, .bio-2{
    color:aliceblue;
    font-size: 2.5vh;

    background-color: var(--main-black-opacity70);
    padding: 1px 25px;
    border-radius: 10px;
    margin-top: 70vh;
    margin-left: 50vw;
    margin-right: 8vw;
    text-align: center;
    transition: 0.8s ease-out;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px, rgba(14, 13, 13, 0.3) 0px 8px 16px -8px;
    opacity: 0;
    transform: translateX(-8vw);
    filter: blur(8px);
}
.bio-2{
    margin-right: 50vw;
    margin-left: 8vw;
    transform: translateX(8vw);
}

.animate-bio {
    animation: animate-bio 0.7s ease-out forwards;
}

@keyframes animate-bio {
    to {
        transform: translateX(0);
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}


@media (max-width: 600px) {
    .bio-1, .bio-2{
        margin: 0 auto;
        margin-top: 50vh;
        margin-inline: 5vw;
        transform: translateY(-8vw);
    }
    
}

