.roller-container {
    margin-top: 20vh;
    margin-bottom: 10vh;
    margin-left: 23vw;
    margin-right: 25vw;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, #050505 20%, #000000 80%, transparent);
    
}

.roller-items {
    animation: scroll 40s linear infinite;
    display: flex;
    gap: 5vw;
}


@keyframes scroll {
    0% {
        transform: translateX(180%);
    }
    100% {
        transform: translateX(-140%);
    }
}

a:link, a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
    
}

a:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: aquamarine;
  cursor: pointer;
}
