.welcome-container {
    text-align: start;
    margin-top: 8vh;
    color: white;
    font-size: 4vh;
    letter-spacing: 0.15em;
    width: fit-content;
    margin-left: 28vw;
    min-height: 11vh;
}

@media (max-width: 600px) {
    .welcome-container{
        font-size: 2vh;
        margin: 0 auto;
        margin-top: 40vh;
        min-height: 11vh;
        letter-spacing: 0;
    }
    
}
