.welcome-container {
    text-align: start;
    margin-top: 8vh;
    color: white;
    font-size: 4vh;
    letter-spacing: 0.15em;
    width: fit-content;
    margin-left: 28vw;
    min-height: 11vh;
}


