:root {
  --main-black: #171b1e;
  --main-black-opacity70: rgba(23,27,30,0.7);
  /* definee color palette */
  
}

body {
  background-image: url(resources/bg/portfoliobg_v6_reduced.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment*/

  text-align: center;
  margin: 0;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
