:root {
  --main-black: #0d0e0f;
  --main-black-opacity70: rgba(7, 8, 8, 0.7);
  --main-white: rgb(182, 182, 182);
  /* definee color palette */
  
}

body {
  background-image: url(resources/bg/338.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment*/


  cursor: default;
  text-align: center;
  margin: 0;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


